/***************************************
***************************************
Fonts */

@font-face {
    font-family: "LeMurmure";
    src: url(assets/LeMurmure.woff), url(assets/LeMurmure.woff2);
}

@font-face {
    font-family: "LunchType22-Medium";
    src: url(assets/lunchtype22-medium-webfont.woff), url(assets/lunchtype22-medium-webfont.woff2);
} 

@font-face {
    font-family: "LunchType22-Regular";
    src: url(assets/lunchtype22-regular-webfont.woff), url(assets/lunchtype22-regular-webfont.woff2);
} 


/***************************************
***************************************
General */


body {
    font-family: "LunchType22-Regular", Times, serif;
    color: #FF3854;
    font-size: 1rem;
    background-color: #FFEDE7;
}


h1, h2 {
    font-family: "LeMurmure", Times, serif;
}


h1 {font-size: 6rem; line-height: 6.5rem;}
h2 {font-size: 2.5rem;}
h4 {font-size: 0.75rem;} 
p {font-size: 1rem; line-height: 1.5em;}
a {color: #5F1DDF; text-decoration: none;}
b {font-family: "LunchType22-Medium", sans-serif;}


.art {
    width: 33vw;
    height: 100%;
    background-color: rgb(110, 28, 39);
    display: block ;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url(assets/img/book1.jpeg);
    background-size: cover;

}


header, footer, section, nav {
    position: absolute;
    right: 10vw;
    width: 50vw;
    justify-content: left;
}




/***************************************
***************************************
Header */


header {
    top: 2vh;
    opacity: 0.5;
}





/***************************************
***************************************
Content */


section {
    top: 10vh;
}

section > * {
    max-width: 35vw;
    margin-bottom: 20px;
}


/***************************************
***************************************
Navigation */


nav {
  bottom: 15vh;
  display:flex;
}


.btn, .prev, .next {
    margin: 0 10px 0 0;
}


.btn {
    padding: 15px 30px;
    background-color: #FFEDE7 ;
    justify-content: center;
    font-family: "LunchType22-Medium", sans-serif;
    left: 0;
    border: 1px solid #5F1DDF;
    border-radius: 2px;
}

.prev, .next {
    width: 65px;
    height: 50px;
    right: 0;
}

.prev {background-image: url(assets/prev.svg);}
.next {background-image: url(assets/next.svg);}

.prev:hover {background-image: url(assets/prev-hover.svg);}
.next:hover {background-image: url(assets/next-hover.svg);}



.btn:hover {
    background-color: rgba(94, 29, 223, 0.11);
    color: #5F1DDF;
}


.btn:hover, .prev:hover, .next:hover {
    cursor: pointer;
}





/***************************************
***************************************
Footer */


footer {
    bottom: 2vh;}
    
footer a:hover {
    text-decoration: underline;
}





/***************************************
***************************************
Media Queries */

@media only screen and (max-width: 600px) {

    h1 { font-size: 4rem; line-height: 4.5rem;}
    h2 {font-size: 2rem;}
    h4 {font-size: 0.85rem;} 

    .art {
        position: absolute;
        width: 100vw;
        margin: 0;
        height: 50vh;
    }

    header, footer, section {
        width: 85%;
        justify-content: left;
    }

    header {
        top: 55vh;
    }


    section {
        top: 60vh;
    }

    section > * {
        max-width: 100%;
        margin-bottom: 10px;
    }

    nav {
        position: fixed;
        width: 100vw;
        z-index: 200;
        bottom: 0;
        left: 0;
        height: 50px;
        justify-content: center;
        background-color: #FFEDE7;
        padding: 20px 0;
        box-shadow: 2px 2px 5px rgba(66, 66, 66, 0.25);
    } 


} 

