/***************************************
***************************************
Fonts */

@font-face {
    font-family: "LeMurmure";
    src: url(assets/LeMurmure.woff), url(assets/LeMurmure.woff2);
}

@font-face {
    font-family: "LunchType22-Medium";
    src: url(assets/lunchtype22-medium-webfont.woff), url(assets/lunchtype22-medium-webfont.woff2);
} 

@font-face {
    font-family: "LunchType22-Regular";
    src: url(assets/lunchtype22-regular-webfont.woff), url(assets/lunchtype22-regular-webfont.woff2);
} 


/***************************************
***************************************
General */


body {
    font-family: "LunchType22-Regular",'Times New Roman', Times, serif;
    color: #CC5B3F;
    background-color: #FFEDE7;
    margin: 0;
}

h1, h2 {
    font-family: "LeMurmure", 'Times New Roman', Times, serif;
}


h1 {font-size: 80pt;}
h2 {font-size: 30pt;}
h4 {font-size: 12pt; color: #5F1DDF} 
p {font-size: 14pt; line-height: 1.5em;}

a {color: #5F1DDF; text-decoration: none;}
b {font-family: "LunchType22-Medium", sans-serif;}

/***************************************
***************************************
Blocks */


header, footer, section {
    position: absolute;
    right: 10vw;
    width: 50vw;
    justify-content: left;
}


header {
    max-height: 50px ;
    top: 2vh;
}

header img {
    margin: 0 10px 0 0;
    cursor: pointer;
}


section {
    top: 20vh;
}

section > * {
    max-width: 40vw;
    margin-bottom: 20px;
}



footer {
    bottom: 5vh;}
    


.art {
    width: 33vw;
    height: 100%;
    background-color: #CC5B3F;
    display: block ;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url(assets/img/book1.jpeg);
    background-size: cover;

}

.btn {
    margin-top: 30px;
    height: 50px;
    padding: 20px 30px;
    background-color: #FFEDE7 ;
    border: 1px solid #5F1DDF;
    border-radius: 2px;
    justify-content: center;
    font-family: "LunchType22-Medium", sans-serif;
}

.btn:hover {
    color: #FFEDE7;
    background-color: #5F1DDF;
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}